
  /* Body */

body {
  margin: 0%;
  size: auto;
  display: flex;
  flex-direction: column;
  background-image: url('../Photos/Group\ 3.png');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: 100%;
}

  /* Link Teksten */

a{
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

  /* Headeren */

.header {
  min-height: 3.125rem;
  background-color: lightgray;
  padding: 1.563rem;
}

ul {
  list-style-type: none;
  padding: 0rem;
  margin: 0rem;
  overflow: hidden;
  background-color: lightgray;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
}

li a:hover {
  background-color: gray;
}

  /* Hovudbildet */

.con{
  height: 40.625rem;
  width: 68.75rem;
  margin-top: 3.75rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.125rem;
  background-color: #ffffff;
  border-radius: 0.625rem;
}

.bildet{
  padding-left: 0.625rem;
  padding-right: auto;
  border-radius: 1.25rem;
}

  /* Små boxer */

.container1, .containeritm{
  width: 68.75rem;
  height: 9.375rem;
  background-color: #fafafa;
  border-radius: 0.625rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3.125rem;
}

  /* Texen i små boxer */

.tekst{
  font-size: x-large;
  margin-left: 2.5rem;
  padding-top: 0.063rem;
  margin-bottom: 0.313rem;
  line-height: 1.875rem;
  color: #23395d;
}


  /* Footeren */

.foto{
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.footer{
  background-color: #1f1f1f;

  /* Text Color */

  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.svar{
  margin-left: 50px;
  text-decoration: none;
}

.ftext{
  display: inline-flex;
  display: flex;
  justify-content: center;
  line-height: 40px;
}

.email{
 text-decoration: none; 
 color: white;
}

  /* Overlay text på icons */

.tooltip {
  position: relative;
  display: inline-block;
}  

.tooltiptext {
  opacity: 80%;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color:  white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Posisjon av Texten */

  position: absolute;
  z-index: 1;
  top: 0px;
  left: 40px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

  /* Mine Prosjekter Html Boxer */

.mpplacement{
  margin-left: center;
  margin-left: auto;
  margin-right: auto;
  color: #23395d;
}

.mptopbox{
  margin-top: 3.125rem;
  width: 70.25rem;
  height: 15.5rem;
  background-color: #fafafa;
  border-radius: 0.625rem;
}

.mpbotbox, .mpbotbox1{
  margin-top: 3.125rem;
  width: 60.75rem;
  height: 12.375rem;
  background-color: #fafafa;
  border-radius: 0.625rem;
  margin-bottom: 50px;
}

.mptekst{
  font-size: x-large;
  margin-left: 2.5rem;
  padding-top: 0.063rem;
  margin-bottom: 0.313rem;
  line-height: 1.875rem;
  color: #23395d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  /* ITM Html Boxer */

.itmplacement{
  margin-left: center;
  margin-left: auto;
  margin-right: auto;
  color: #23395d;
}

.itmtopbox{
  margin-top: 3.125rem;
  width: 81.25rem;
  height: 6.25rem;
  background-color: #fafafa;
  border-radius: 1.188rem;
}

.itmbox1{
  margin-top: 3.125rem;
  width: 68.75rem;
  height: 28.125rem;
  background-color: #fafafa;
  border-radius: 0.625rem;
  margin-bottom: 50px;
}

.itmbox2{
  width: 68.75rem;
  height: 25.125rem;
  background-color: #fafafa;
  border-radius: 0.625rem;
  margin-bottom: 50px;
}

.itmtekst, .itmoverskrift{
  font-size: x-large;
  margin-left: 2.5rem;
  padding-top: 0.063rem;
  margin-bottom: 0.313rem;
  line-height: 1.975rem;
  color: #23395d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  /* AM Html Boxer */

.amtopplacement{
  margin-left: auto;
  margin-right: auto;
  color: #23395d;
}

.amtopbox{
  margin-top: 3.125rem;
  width: 81.25rem;
  height: 6.25rem;
  background-color: #fafafa;
  border-radius: 1.188rem;
}

.amalieskram{
  margin-top: 3.125rem;
  width: 68.75rem;
  height: 25.825rem;
  background-color: #fafafa;
  border-radius: 0.625rem;
  margin-bottom: 50px;
}

.adoarena{
  width: 68.75rem;
  height: 27.525rem;
  background-color: #fafafa;
  border-radius: 0.625rem;
  margin-bottom: 50px;
}

.amtekst{
  font-size: x-large;
  margin-left: 2.5rem;
  padding-top: 0.063rem;
  margin-bottom: 0.313rem;
  line-height: 2.1rem;
  color: #23395d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
  /* 4Bilder Html Boxer */

.box1{
  height: 700px;
  width: 800px;
  background-color: white;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.bp1{
  height: 600px;
  margin-top: 50px;
  border-radius: 10px;
}

.pfoto1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

  /* Koden for at nettsiden skal fungere på andre enheter */

@media only screen and (max-width: 1600px){

  /* Home */

.bildet{
  max-width: 90%;
}

.con{
  width: 60%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.container1, .containeritm {
  max-width: 900px;
}

.container {
  margin-top: 50px;
}

.p{
  line-height: 30px;
  padding-bottom: 100px;
}

  /* Mp */
  
.mptopbox{
  max-width: 900px;
  height: 270px;
}

.mpbotbox{
  max-width: 800px;
  
}

.mpbotbox1{
  max-width: 800px;
  margin-top: -1px;
}

  /* IM */

.itmtopbox{
  max-width: 900px;
}

.itmbox1{
  height: 500px;
  width: 820px;
}

.itmbox2{
  height: 430px;
  width: 820px;
}

  /* AM */

.amtopbox{
  max-width: 900px;
}

.amalieskram{
  max-width: 800px;
  height: 433px;
}

.adoarena{
  max-width: 800px;
  height: 500px;
}

}

@media only screen and (max-width: 1400px){

  /* Home */

.bildet{
  max-width: 90%;
}

.con{
  width: 60%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.container1, .containeritm {
  max-width: 750px;
}

.container {
  margin-top: 10px;
}

.p{
  line-height: 30px;
  padding-bottom: 100px;
}

  /* Mp */
  
.mptopbox{
  max-width: 800px;
  height: 270px;
}

.mpbotbox{
  max-width: 700px;
}

.mpbotbox1{
  max-width: 700px;
  margin-top: -1px;
}

  /* IM */

.itmtopbox{
  max-width: 800px;
}

.itmbox1{
  height: 560px;
  width: 725px;
}

.itmbox2{
  height: 440px;
  width: 725px;
}

  /* AM */

.amtopbox{
  max-width: 800px;
}

.amalieskram{
  max-width: 710px;
  height: 510px;
}

.adoarena{
  max-width: 710px;
  height: 540px;
}

}

@media only screen and (max-width: 1200px){

  /* Home */

.bildet{
  max-width: 90%;
}

.con{
  width: 60%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.container1{
  max-width: 600px;
  height: 180px;
}

.containeritm{
  max-width: 600px;
  height: 250px;
}

.container {
  margin-top: 10px;
}

.h1itm{
  line-height: 50px;
}

  /* Mp */
  
.mptopbox{
  max-width: 670px;
  height: 270px;
}

.mpbotbox{
  max-width: 550px;
  height: 230px;
}

.mpbotbox1{
  max-width: 550px;
  margin-top: -1px;
  height: 230px;
}

  /* IM */

.itmtopbox{
  max-width: 670px;
  height: 160px;
}

.itmoverskrift{
  line-height: 50px;
}

.itmbox1{
  height: 640px;
  width: 630px;
}

.itmbox2{
  height: 440px;
  width: 630px;
}

  /* AM */

.amtopbox{
  max-width: 700px;
}

.amalieskram{
  max-width: 620px;
  height: 500px;
}

.adoarena{
  max-width: 620px;
  height: 580px;
}

  /* Footeren */

.ftext{
  font-size: small;
}

}

@media only screen and (max-width: 1000px){

  /* Home */

.bildet{
  max-width: 90%;
}

.con{
  width: 60%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.container1{
  max-width: 450px;
  height: 150px;
}

.containeritm{
  max-width: 450px;
  height: 220px;
}

.container {
  margin-top: 10px;
}

.h1itm{
  line-height: 50px;
  font-size: xx-large;
}

.h1{
  font-size: xx-large;
}

.p{
  font-size: large;
}

  /* Mp */
  
.mptopbox{
  max-width: 550px;
  height: 240px;
}

.mpbotbox{
  max-width: 450px;
  height: 160px;
}

.mpbotbox1{
  max-width: 450px;
  margin-top: -1px;
  height: 190px;
}

.mph1{
  font-size: xx-large;
}

.mpp{
  font-size: large;
}

  /* IM */

.itmtopbox{
  max-width: 550px;
  height: 100px;
}

.itmoverskrift{
  line-height: 50px;
}

.itmbox1{
  height: 600px;
  width: 460px;
  padding-right: 20px;
}

.itmbox2{
  height: 400px;
  width: 460px;
  padding-right: 20px;
}

.itmh1{
  font-size: xx-large;
}

.itmp{
  font-size: large;
}

  /* AM */

.amtopbox{
  max-width: 550px;
  height: 80px;
}

.amalieskram{
  max-width: 460px;
  height: 520px;
  padding-right: 20px;
}

.adoarena{
  max-width: 460px;
  height: 550px;
  padding-right: 20px;
}

.amh1{
  font-size: xx-large;
}

.amp{
  font-size: large;
}
 
  /* Footeren */

.ftext{
  font-size: x-small;
  line-height: 30px;
}

  /* 4 Bilder Historie */

.box1{
  height: 530px;
  width: 550px;
}

.bp1{
  max-height: 430px;
}

}

@media only screen and (max-width: 800px){

  /* Home */

.bildet{
  max-width: 90%;
}

.con{
  width: 60%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.container1{
  max-width: 330px;
  height: 150px;
}

.containeritm{
  max-width: 330px;
  height: 220px;
}

.container {
  margin-top: 10px;
}

.h1itm{
  line-height: 35px;
  font-size: xx-large;
}

.h1{
  font-size: xx-large;
}

.p{
  font-size: large;
}

  /* Mp */
  
.mptopbox{
  max-width: 400px;
  height: 300px;
  padding-right: 20px;
}

.mpbotbox{
  max-width: 330px;
  height: 230px;
}

.mpbotbox1{
  max-width: 330px;
  margin-top: -1px;
  height: 190px;
}

.mph1{
  font-size: xx-large;
}

.mpp{
  font-size: large;
}

  /* IM */

.itmtopbox{
  max-width: 400px;
  height: 140px;
}

.itmoverskrift{
  line-height: 50px;
}

.itmbox1{
  height: 400px;
  width: 330px;
  padding-right: 20px;
}

.itmbox2{
  height: 330px;
  width: 330px;
  padding-right: 20px;
}

.itmh1{
  font-size: xx-large;
}

.itmp{
  font-size: small;
  line-height: normal;
}

  /* AM */

.amtopbox{
  max-width: 400px;
  height: 110px;
}

.amalieskram{
  max-width: 330px;
  height: 330px;
  padding-right: 20px;
}

.adoarena{
  max-width: 330px;
  height: 380px;
  padding-right: 20px;
}

.amh1{
  font-size: xx-large;
}

.amp{
  font-size: small;
  line-height: normal;
}
 
  /* Footeren */

.ftext{
  font-size: x-small;
}

  /* 4 Bilder Historie */

.box1{
  height: 530px;
  width: 550px;
}

.bp1{
  max-height: 430px;
}

}

@media only screen and (max-width: 600px){

  /* Home */


.bildet{
  max-width: 90%;
}

.con{
  width: 60%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.container1{
  max-width:  220px;
  height: 70px;
}

.containeritm{
  max-width:  220px;
  height: 100px;
}

.container {
  margin-top: 10px;
}

.h1itm{
  line-height: 25px;
  font-size: x-large;
  margin-left: -25px;
}

.h1{
  margin-left: -25px;
  font-size: x-large;
}

.p{
  display: none;
}

  /* Mp */
  
.mptopbox{
  max-width: 200px;
  height: 300px;
  padding-right: 20px;
}

.mpbotbox{
  max-width: 190px;
  height: 230px;
}

.mpbotbox1{
  max-width: 190px;
  margin-top: -1px;
  height: 200px;
}

.mph1{
  font-size: x-large;
  padding-right: 30px;
}

.mpp{
  font-size: small;
  line-height: normal;
  padding-right: 20px;
}

  /* IM */

.itmtopbox{
  max-width: 250px;
  height: 110px;
  margin-top: 20px;
}

.itmoverskrift{
  margin-left: 5px;
}

.itmbox1{
  height: 650px;
  width: 190px;
  padding-right: 20px;
  margin-top: 40px;
}

.itmbox2{
  height: 380px;
  width: 190px;
  padding-right: 20px;
  margin-top: 20px;
}

.itmh1{
  font-size: x-large;
  padding-right: 30px;
  line-height: normal;
}

.itmp{
  font-size: small;
  line-height: normal;
  padding-right: 20px;
}

  /* AM */

.amtopbox{
  max-width: 250px;
  height: 90px;
  margin-top: 20px;
}

.amalieskram{
  max-width: 200px;
  height: 520px;
  padding-right: 20px;
  margin-top: 40px;
}

.adoarena{
  max-width: 190px;
  height: 560px;
  padding-right: 20px;
}

.amh1{
  font-size: x-large;
  line-height: normal;
  margin-left: -20px;
}

.amp{
  font-size: small;
  line-height: normal;
  padding-right: 20px;
}
 
  /* Footeren */

.ftext{
  font-size: xx-small;
  line-height: 20px;
}

.foto{
  max-width: 40px;
  margin-top: 10px;
}

  /* 4 Bilder Historie */

.box1{
  height: 270px;
  width: 250px;
}

.bp1{
  margin-top: 35px;
  max-height: 200px;
}

}

@media only screen and (max-width: 400px){

  /* Home */


.bildet{
  max-width: 90%;
}

.con{
  width: 60%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.container1{
  max-width:  150px;
  height: 70px;
}

.containeritm{
  max-width:  150px;
  height: 100px;
}

.container {
  margin-top: 10px;
}

.h1itm{
  line-height: 25px;
  font-size: medium;
  margin-left: -25px;
}

.h1{
  margin-left: -25px;
  font-size: medium;
}

.p{
  display: none;
}

  /* Mp */
  
.mptopbox{
  width: 80%;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.mpbotbox{
  width: 80%;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.mpbotbox1{
  width: 80%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.mph1{
  font-size: large;
  padding-right: 30px;
  margin-left: -15px;
}

.mpp{
  font-size: small;
  line-height: normal;
  padding-right: 20px;
  margin-left: -15px;
}

  /* IM */

.itmtopbox{
  width: 80%;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.itmoverskrift{
  margin-left: 5px;
}

.itmbox1{
  width: 50%;
  height: 530px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.itmbox2{
  width: 50%;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
}

.itmh1{
  font-size: x-large;
  padding-right: 30px;
  line-height: normal;
}

.itmp{
  font-size: x-small;
  line-height: normal;
  padding-right: 20px;
}

  /* AM */

.amtopbox{
  width: 80%;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.amalieskram{
  width: 70%;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.adoarena{
  width: 70%;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
}

.amh1{
  font-size: x-large;
  line-height: normal;
  margin-left: -20px;
}

.amp{
  font-size: x-small;
  line-height: normal;
  padding-right: 10px;
  margin-left: -20px;
}
 
  /* Footeren */

.ftext{
  font-size: xx-small;
  line-height: 20px;
}

.foto{
  max-width: 40px;
  margin-left: 20px;
  margin-top: 10px;
}

  /* 4 Bilder Historie */

.box1{
  height: 210px;
  width: 200px;
}

.bp1{
  margin-top: 35px;
  max-height: 140px;
}

}
