body {
  margin: 0%;
  display: flex;
  flex-direction: column;
  background-image: url('../Photos/Group\ 3.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.helegreien{
    display: flex;
    flex-direction: column;
}

.header {
  background-color: lightgray;
  padding: 1.563rem;
  text-align: left;

}
a{
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
}

li a:hover {
  background-color: gray;
}

.top{
    margin-left: center;
    margin-left: auto;
    margin-right: auto;
    color: #23395d;
}

.top1{
  margin-top: 3.125rem;
  width: 81.25rem;
  height: 6.25rem;
  background-color: #fafafa;
  border-radius: 1.188rem;
}

.box1{
  margin-top: 3.125rem;
  width: 68.75rem;
  height: 28.125rem;
  background-color: #fafafa;
  border-radius: 0.625rem;
  margin-bottom: 50px;
}

.box2{
  width: 68.75rem;
  height: 25.125rem;
  background-color: #fafafa;
  border-radius: 0.625rem;
  margin-bottom: 50px;
}

.tekst{
  font-size: x-large;
  margin-left: 2.5rem;
  padding-top: 0.063rem;
  margin-bottom: 0.313rem;
  line-height: 1.975rem;
  color: #23395d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.footer{
  background-color: #1f1f1f;
  color: white;
  margin-top: auto;
  padding: 1rem 1rem;
  background: #1f1f1f;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.qq1{
  margin-left: 50px;
}

.fdiv{
  display: inline-flex;
  margin-left: 30%;
  line-height: 40px;
}

.foto{
  margin-top: 40px;
  margin-left: 100px;
}
 
.email{
 text-decoration: none; 
 color: white;
}